#divProduto {
    background-color: #f0ebd8;
    display: flex;
}
#divProduto-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
    width: 100%;
    
}