input {
  background: transparent;
}

.text-align-right {
  text-align: right;
}

.btn {
  display: inline-block;
  border-radius: 2em;
  padding: 0.75em 2em;
  text-decoration: none;
  background-color: #1d2d44;
  color: #fff;
  text-decoration: none;
}

.btn:hover {
  opacity: 0.9;
}

.wrapper-table {
  position: relative;
  display: block;
  overflow-x: auto;
}

.checkout {
  --border-color: #3e5c76;
  --highlight-color: #dbd4b1;
  --default-font-family: "Roboto, sans-serif";

}

.checkout h2 {
  font-size: 1.5em;
  font-weight: 500;
  display: inline-block;
  margin: 1em 0 0.5em;
}

.checkout h2 span {
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 100%;
  display: inline-block;
  margin-left: 0.5em;
}

.checkout h2 a {
  text-decoration: underline;
}

.checkout h2 i {
  font-size: 0.8em;
}

.checkout h2 a:hover {
  opacity: 0.9;
}

.checkout__cart {
  border-radius: 0.25em;
  padding: 1em 0;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 2em;
}

.checkout__cart table {
  margin-top: 2em;
  width: 100%;
  min-width: 600px;
  border-collapse: collapse;
  font-size: 0.9em;
}

.checkout__cart table thead {
  text-align: left;
  font-weight: 500;
}

.checkout__cart table thead tr {
  border-bottom: 1px solid var(--border-color);
}

.checkout__cart table thead th {
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}

.checkout__cart table tbody td {
  padding: 0.5em 0;
}

.checkout__cart table tbody td:first-child {
  width: 70px;
}

.checkout__cart table tbody td:first-child img {
  display: block;
  width: 50px;
  height: auto;
  max-height: 4em;
  object-fit: cover;
}

.checkout__cart table tbody tr:hover {
  background: var(--highlight-color)
}

.checkout__cart table .price__old {
  text-decoration: line-through;
  font-size: 0.75em;
  vertical-align: middle;
  margin-right: 1em;
}

.checkout__info {
  display: flex;
  border-bottom: 1px solid var(--border-color);
}

.checkout__info .column {
  width: 50%;
  flex-grow: 0;
  flex-shrink: 1;
  margin-bottom: 2em;
  padding: 1em;
}

.checkout__info .column:first-child {
  border-right: 1px solid var(--border-color);
  padding-left: 0;
}

.checkout__info .personal-info__user {
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--border-color);
  padding: 1em;
  /* margin: 1em 0; */
  font-size: 0.9em;
  border-radius: 0.25em;
}

.checkout__info .personal-info__address {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.checkout__info .personal-info__address .btn-add {
  cursor: pointer;
  background: transparent;
  border: 1px solid var(--border-color);
  width: 2em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 0.5em;
}
.checkout__info .personal-info__address .btn-add:hover {
  background: var(--highlight-color);
}

.checkout__info .personal-info__address .address-block {
  padding: 1em;
  border: 1px solid var(--border-color);
  border-radius: 0.25em;
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;
}

.checkout__info .personal-info__address .address-block .selected-text {
  display: inline-block;
  font-size: 0.9em;
  background: var(--highlight-color);
  padding: 0.25em 0.75em;
  border-radius: 1em;
}

/* ------ */

.shipping .shipping__item {
  background: #fff;
  border: 1px solid var(--border-color);
  border-radius: 0.25em;
  display: flex;
  margin-bottom: 0.5em;
  background-color: transparent;
}

.shipping .shipping__item:hover {
  background: var(--highlight-color);
}

.shipping .shipping__item--selected {
  background: var(--highlight-color);
}

.shipping .shipping__item input[type=radio] {
  margin: 0 1em;
  cursor: pointer;
}

.shipping .shipping__item label {
  padding: 1em 0.5em;
  display: flex;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
}

.shipping .shipping__time {
  margin-top: 1em;
  background: var(--highlight-color);
  padding: 0.75em 1em;
  border-radius: 1.5em;
  font-size: 0.9em;
}

/* ------ */

.notes textarea{
  display: block;
  width: 100%;
  font-family: inherit;
  color: inherit;
  padding: 0.5em;
  border: 1px solid var(--border-color);
  border-radius: 0.25em;
  font-size: 1em;
  background: transparent;
}


/* ------ */

.payment-info__summary table {
  border-collapse: collapse;
  width: 100%;
}

.payment-info__summary tr td:last-child {
  text-align: right;
}

.payment-info__summary td {
  padding: 0.5em;
}

.payment-info__summary tr:not(:last-child) {
  border-bottom: 1px solid var(--border-color);
}

.payment-info__summary .total strong {
  font-size: 1.5em;
}


/* ----- */

.payment-method .payment-method__item {
  background: #fff;
  border: 1px solid var(--border-color);
  border-radius: 0.25em;
  display: flex;
  margin-bottom: 0.5em;
  background: transparent;
}

.payment-method .payment-method__item:hover {
  background: var(--highlight-color);
}

.payment-method .payment-method__item--selected {
  background: var(--highlight-color);
}

.payment-method .payment-method__item input[type=radio] {
  margin: 0 1em;
  cursor: pointer;
}

.payment-method .payment-method__item label {
  padding: 1em 0.5em;
  display: flex;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
}

.payment-method .payment-method__item i {
  margin-right: 0.5em;
}

.payment-method .payment-method__item span {
  font-size: 0.8em;
}


/* mobile */

@media screen and (max-width: 769px) {
  .checkout__info{
    flex-direction: column;
  }
  .checkout__info .column {
    width: 100%;
    padding: 1em 0;
    border: none !important;
    margin: 0;
  }
}