.fjs--produtos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.fjs--produto {
  background-color: #fafafa;
  width: 206px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  margin: 10px 5px;
  padding: 0px 5px;
}

.fjs--produto:hover {
  cursor: pointer;
}

.fjs--produto-img {
  width: 100px;
}

.fjs--produto-name {
  display: flex;
  flex-direction: row;
  margin: 2px 0px;
}

.fjs--produto-price {
  font-size: 12px;
  margin: 2px 0px;
}

.fjs--produto-price mark {
  background-color: transparent;
}

.logo {
  width: auto;
}

.fjs--header-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.inner {
  flex-direction: column;
}

.fjs--controls-bottom {
  display: none;
  width: 100%;
}
.fjs--controls-bottom a {
  text-decoration: none;
}

@media (min-width: 601px) {
  .fjs--produto-img {
    width: 150px;
  }
  #fjs--search-input {
    display: none;
  }
  #li-button-menu {
    display: none;
  }
  .fjs--controls-bottom {
    display: block;
  }

  .fjs--controls-bottom ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 600px) {
  .fjs--header-top {
    flex-direction: column;
  }
  .inner {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .controls {
    width: 100%;
  }
  .controls ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  #button-search {
    justify-self: flex-start;
  }
  #button-cart,
  #li-button-cart {
    display: none;
  }

  #fjs--search-input {
    width: 30vw;
    min-width: 120px;
    margin-left: 20px;
    border: 0;
    border-bottom: 1px solid black;
  }
}
