* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-size: 16px;
    color: #333;
    background-color: #F0EBD8;
    font-family: 'Roboto', sans-serif;
  }
  
  body > main {
    padding: 1rem 0;
  }
  
  .container {
    width: 90%;
    max-width: var(--container-max-width);
    margin: 0 auto;
  }
  
  .b-shadow {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
  }
  
  header.main-header {
    background-color: #fff;
    padding: 0.75em 0;
  }
  
  .main-header .inner {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .main-header .logo {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
  }
  
  .main-header .logo a {
    font-family: 'Times New Roman', serif;
    color: #222;
    text-decoration: none;
    font-size: 2.25em;
    font-weight: 600;
  }
  
  .main-header .controls {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
  }
  
  .main-header .controls ul {
    list-style: none;
  }
  .main-header .controls ul li {
    display: inline-block;
    position: relative;
  }
  
  .main-header .controls li + li {
    margin-left: 1.25em;
  }
  
  .main-header .controls a {
    font-size: 1.5em;
    color: #333;
  }
  
  .main-header .controls .notification-count {
    font-family: monospace;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    color: #fff;
    background: #bc473d;
    font-size: 0.75em;
    font-weight: 700;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -3px;
    right: -10px;
  }

  .link-style{
    text-decoration: none;
    background-color: rgb(16, 16, 107);
    border-radius: 4px;
    padding: 2.5px;
    color: whitesmoke;
  }

  .login-area, .text-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .text-main{
    color: #0D1321;
  }

  .cpf-cnpj{
    padding: 20px;
    width: 13rem;
    height: 2.4rem;
    margin-bottom: 40px;
    border-radius: 20px;
    border: 2px solid black;
  }

  ::placeholder{
     text-align: center;
  }

  .login-btn{
  height: 2.4rem;
  width: 8.2rem;
  border: none;
  color: whitesmoke;
  background-color: #0D1321;
  border-radius: 30px;
  }

  .login-btn:hover{
    background-color: #748CAB;
  }

  .container-login{
    margin-top: 12%;
  }

  .recuperar-senha{
    text-align: center;
    margin-top: 2%;
  }

@media (max-width:770px) {

    .login-area, .text-main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
      }
    
    .cpf-cnpj{
        padding: 20px;
        width: 16rem;
        height: 3rem;
        margin-bottom: 40px;
        border-radius: 20px;
        border: 2px solid black;
      }

    .text-main{
        font-size: 2.2rem;
    }


      .recuperar-senha{
        text-align: center;
        margin-top: 6%;
      }
    
}
