* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

a:active {
  opacity: 0.8;
}

ul {
  list-style: none;
}
/* ----------------- */

:root {
  --container-max-width: 1200px;
  --color-rich-black: #0d1321;
  --letter-color: #1d2d44;
  --color-shadow-blue: #748cab;
  --color-eggshell: #f0ebd8;
  --color-black: #010101;
  --border-color: #3e5c76;
  --highlight-color: #dbd4b1;
  --search-border-color: #dad6c1;
  --bg-footer: rgb(244, 244, 244);

  font-size: 62.5%;
}

body::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.3rem;
}
body::-webkit-scrollbar-track {
  background: var(--bg-footer);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--letter-color);
  border-radius: 2rem;
}
footer::-webkit-scrollbar {
  background-color: transparent;
}

body {
  display: flex;
  flex-direction: column;

  align-items: center;
  color: var(--letter-color);
  background: var(--color-eggshell);
  font-size: 1.6rem;
  font-weight: 700;
  position: absolute;
  width: 100%;
  height: 100vh;
  font-family: "Archivo", Arial, Helvetica, sans-serif;

  scroll-behavior: smooth;
}

body > main {
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
  background-color: var(--color-eggshell);
  height: auto;
  position: fixed;
  width: 100%;
  z-index: 1;
  min-height: 10.5rem;
  border-bottom: 1px solid #dad6c1;
}

.container {
  max-width: var(--container-max-width);
  background-color: var(--color-eggshell);
  width: 100%;
}

.logo {
  font-size: 2rem;
  padding: 1rem;
}

.menu-icons {
  font-size: 1.6rem;
}

.shopping-cart-span {
  font-size: 0.8rem;
  border-radius: 50%;
  background-color: var(--color-shadow-blue);
  padding: 0.3rem 0.5rem;
  margin-bottom: 100px;
  color: #fafafa;
  text-decoration: none;

  position: relative;
  top: -15px;
  right: 15px;
}

.header-top-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top-logo b {
  display: none;
}
.header-top-logo a {
  display: flex;
  align-items: center;
}

.header-top-logo-img,
.main-baner-top-logo-img {
  background-image: url("../../img/ideias-de-logo-sem-fundo/logo3-img-Flávio-sem-fundo.png");
  width: 7rem;
  height: 7rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.header-top-logo-name {
  display: none;
  background-image: url("../../img/ideias-de-logo-sem-fundo/logo3-name-Flávio-sem-fundo.png");
  width: 26.8rem;
  height: 3.5rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header-top-items i {
  padding: 1rem;
}

.header-bottom-items {
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 100%;
}

.header-bottom-items i {
  color: var(--letter-color);
  position: absolute;
  top: 8.7rem;
  margin-left: 1.6rem;
}

#search-input {
  border: 1px solid var(--search-border-color);
  background-color: transparent;
  border-radius: 3rem;
  font-size: 1.4rem;
  display: block;
  width: 100%;
  height: 3.9rem;
  padding: 1em 2em;
  margin: 0.5rem;
  text-transform: capitalize;
}

.categorys {
  display: none;
}

main {
  margin-top: 12.2rem;
}

.main-baner {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;

  background-image: url("../../img/banners/banner_ilustrativo3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  border-bottom: var(--border-color) solid 1px;
  color: #004aad;
}

.main-baner-top {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

.main-baner-top a {
  display: flex;
  justify-content: center;
}

.main-baner-top h2 {
  font-size: 2rem;
  font-weight: bold;
}

.main-baner-bottom {
  margin-top: -1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main-baner-bottom input {
  cursor: pointer;
}

#button-baner {
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  border: #ece3dd 1px solid;
}

.main-baner-button-icon {
  height: 4rem;
  font-size: 1.8rem;
}

.main-baner-button-icon i {
  font-size: 1.8rem;
  animation: slide-bottom 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s infinite
    both;
}

.navigation-category {
  height: auto;
  margin-top: 4rem;
  margin-bottom: 6rem;
  padding: 0 1rem;
}

.navigation-category-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navigation-category-top h2 {
  margin: 2rem 0;
}

.navigation-slider-control {
  align-self: flex-end;
  margin-bottom: 2rem;
}

.navigation-slider {
  display: flex;
  overflow: hidden;
  margin: 0 auto;
  height: 35rem;
  flex-wrap: nowrap;
}

.navigation-slider-item {
  margin: 0 2rem;
}

.navigation-slider-item:hover {
  cursor: pointer;
  background-color: var(--highlight-color);
}
/*--------------*/
.navigation-slider-item:hover .jeans1 {
  background-image: url("../../img/roupas_sem_fundo/jeans2.png");
}
.navigation-slider-item .jeans1 {
  transition: 1s;
}
.navigation-slider-item:hover .shirt1 {
  background-image: url("../../img/roupas_sem_fundo/shirt2.png");
}
.navigation-slider-item .shirt1 {
  transition: 1s;
}
.navigation-slider-item:hover .sweater1 {
  background-image: url("../../img/roupas_sem_fundo/sweater2.png");
}
.navigation-slider-item .sweater1 {
  transition: 1s;
}

.navigation-slider-item:hover .sweatpants1 {
  background-image: url("../../img/roupas_sem_fundo/sweatpants2.png");
}
.navigation-slider-item .sweatpants1 {
  transition: 1s;
}
.navigation-slider-item:hover .sweatshirt1 {
  background-image: url("../../img/roupas_sem_fundo/sweatshirt2.png");
}
.navigation-slider-item .sweatshirt1 {
  transition: 1s;
}
/*--------------*/
.navigation-slider-item div {
  min-width: 18rem;
  height: 100%;
  height: calc(18rem * 1.78);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 1s;

  transition: 1s;
}

.navigation-slider-item img {
  width: 18rem;
  transition: 1s;
}

.produtos {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.produtos a {
  text-decoration: none;
}

.offer::after {
  content: "";
  background-image: url(../../img/icons/promo.png);
  background-size: 4rem;
  width: 4rem;
  height: 4rem;

  position: absolute;
  margin-left: 4rem;
}

.produtos-title {
  width: 100%;
  padding-left: 1rem;
}

.produto {
  background-color: var(--color-eggshell);
  width: 26rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: nowrap;
  margin: 1rem 0.5rem;
  transition: background-color 0.5s;
}

.produto:hover {
  cursor: pointer;
}

.produto-img {
  min-width: 10rem;
  height: calc(10rem * 1.78);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 1s;
}

.produto-info {
  text-align: left;
  padding-left: 1.5rem;
}

.produto-info strong {
  font-size: 1.6rem;
}

.produto-info del {
  font-size: 1rem;
}
/*---------------*/
.jeans1 {
  background-image: url("../../img/roupas_sem_fundo/jeans1.png");
}
.produto:hover .jeans1 {
  background-image: url("../../img/roupas_sem_fundo/jeans2.png");
}
.jeans2 {
  background-image: url("../../img/roupas_sem_fundo/jeans2.png");
}
.produto:hover .jeans2 {
  background-image: url("../../img/roupas_sem_fundo/jeans3.png");
}
.jeans3 {
  background-image: url("../../img/roupas_sem_fundo/jeans3.png");
}
.produto:hover .jeans3 {
  background-image: url("../../img/roupas_sem_fundo/jeans1.png");
}

.shirt1 {
  background-image: url("../../img/roupas_sem_fundo/shirt1.png");
}
.produto:hover .shirt1 {
  background-image: url("../../img/roupas_sem_fundo/shirt2.png");
}
.shirt2 {
  background-image: url("../../img/roupas_sem_fundo/shirt2.png");
}
.produto:hover .shirt2 {
  background-image: url("../../img/roupas_sem_fundo/shirt3.png");
}
.shirt3 {
  background-image: url("../../img/roupas_sem_fundo/shirt3.png");
}
.produto:hover .shirt3 {
  background-image: url("../../img/roupas_sem_fundo/shirt1.png");
}

.sweater1 {
  background-image: url("../../img/roupas_sem_fundo/sweater1.png");
}
.produto:hover .sweater1 {
  background-image: url("../../img/roupas_sem_fundo/sweater2.png");
}
.sweater2 {
  background-image: url("../../img/roupas_sem_fundo/sweater2.png");
}
.produto:hover .sweater2 {
  background-image: url("../../img/roupas_sem_fundo/sweater3.png");
}
.sweater3 {
  background-image: url("../../img/roupas_sem_fundo/sweater3.png");
}
.produto:hover .sweater3 {
  background-image: url("../../img/roupas_sem_fundo/sweater1.png");
}

.sweatpants1 {
  background-image: url("../../img/roupas_sem_fundo/sweatpants1.png");
}
.produto:hover .sweatpants1 {
  background-image: url("../../img/roupas_sem_fundo/sweatpants2.png");
}
.sweatpants2 {
  background-image: url("../../img/roupas_sem_fundo/sweatpants2.png");
}
.produto:hover .sweatpants2 {
  background-image: url("../../img/roupas_sem_fundo/sweatpants3.png");
}
.sweatpants3 {
  background-image: url("../../img/roupas_sem_fundo/sweatpants3.png");
}
.produto:hover .sweatpants3 {
  background-image: url("../../img/roupas_sem_fundo/sweatpants1.png");
}

.sweatshirt1 {
  background-image: url("../../img/roupas_sem_fundo/sweatshirt1.png");
}
.produto:hover .sweatshirt1 {
  background-image: url("../../img/roupas_sem_fundo/sweatshirt2.png");
}
.sweatshirt2 {
  background-image: url("../../img/roupas_sem_fundo/sweatshirt2.png");
}
.produto:hover .sweatshirt2 {
  background-image: url("../../img/roupas_sem_fundo/sweatshirt3.png");
}
.sweatshirt3 {
  background-image: url("../../img/roupas_sem_fundo/sweatshirt3.png");
}
.produto:hover .sweatshirt3 {
  background-image: url("../../img/roupas_sem_fundo/sweatshirt1.png");
}
/*---------------*/

.produto-name {
  display: flex;
  flex-direction: row;
  margin: 0.2rem 0;
}
.fa-star {
  color: goldenrod;
}

.produto-price {
  font-size: 1.2rem;
  margin: 0.2rem 0;
}

.produto-price mark {
  background-color: transparent;
}

footer {
  font-size: 1.3rem;
}

footer li:hover {
  cursor: pointer;
}

.footer-top {
  display: flex;
  justify-content: space-around;
  padding: 3rem 1rem;

  background-color: var(--bg-footer);
}

.footer-top li {
  padding: 0 1rem;
  font-size: 0.9rem;
}

.footer-top-items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-top-item {
  padding: 1rem 1rem;
}

.footer-top-item ul {
  padding-bottom: 3rem;
}

.footer-top-item li {
  line-height: 2rem;
  font-weight: 300;
}

.pagamentos,
.social-media {
  display: flex;
  flex-wrap: wrap;
}

.pagamentos img {
  height: 2rem;
}

.social-icon {
  font-size: 2rem;
}

.footer-bottom {
  padding: 0px 1rem;
}

.footer-bottom ul {
  display: flex;
  flex-wrap: wrap;
}

.footer-bottom li {
  padding: 0 1rem;
  font-size: 1rem;
  font-weight: 500;
}

.footer-bottom img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.footer-bottom li {
  line-height: 2rem;
}

.footer-bottom li div {
  display: flex;
  align-items: center;
}

/* ---------------------- */

@keyframes slide-bottom {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1rem);
    opacity: 0.3;
  }
}

/* --------------------- */

@media (min-width: 770px) {
  main {
    margin-top: 17.8rem;
  }
  .main-baner {
    height: 500px;
  }
  .produto-img {
    width: 15rem;
  }
  #menu-bars-icon {
    display: none;
  }
  .categorys {
    display: block;
  }
  .categorys ul {
    padding: 1rem 0px;
    display: flex;
    justify-content: space-evenly;
  }
  .categorys li {
    display: flex;
    align-items: center;
    text-align: center;
    width: 10.5rem;
    transition: letter-spacing 0.5s;
  }
  .categorys li:hover {
    letter-spacing: 0.5px;
  }
  .categorys a {
    text-decoration: none;
  }
  .header-top-logo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: auto;
  }

  .header-top-logo b {
    display: block;
    font-size: 1rem;
  }

  .header-top-logo-name {
    display: block;
  }

  .navigation-category-top {
    display: flex;
    width: 100%;
  }

  .navigation-category-top br {
    display: none;
  }

  .produto {
    width: 30rem;
  }
} ;
