@import "/assets/css/common-styles.css";
@import "../../assets/css/flavio-home.css";
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100;400&family=Roboto:wght@100&display=swap");

:root {
  font-size: 62.5%;

  --bg-color: #3e5c76;
  --bg-color-light: #748cab;
  --important-color: #1d2d44;
  --text-color: #000;
  --text-color-light: #f0ebd8;
}

body {
  scroll-behavior: smooth;
}

.main-content {
  margin-top: 12.2rem;
  padding: 0 2rem;
}

fieldset {
  border: none;
}

.data-pj,
.data-adress {
  /* display: grid; */
  margin-bottom: 20px;
}

fieldset input,
select {
  width: 100%;
  height: 4.5rem;
  border: 1px solid var(--bg-color);
  border-radius: 5px;
  padding: 0 10px;
  font-size: 1rem;

  font-weight: 400;
  outline: none;

  background: transparent;
  color: var(--text-color);
}

fieldset label {
  font-size: 2rem;
  font-weight: bold;
  font-weight: 100;
}

fieldset legend {
  font-size: 3rem;
  font-weight: bold;
  color: #333;

  margin-bottom: 2rem;
}

fieldset > input,
select {
  margin-bottom: 2rem;
  font-size: 2rem;
}
fieldset > input:focus,
select :focus {
  border: 3px solid var(--important-color);
}

.create-account {
  padding-bottom: 2rem;
  margin-top: 2rem;
  border-bottom: 0.1rem solid var(--text-color);
  margin-bottom: 2rem;
}
.btn {
  display: inline-block;
  width: 100%;
  padding: 0.5rem 2rem;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 400;

  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cancel {
  background: none;
  color: var(--text-color-light);
  font-size: 1.2rem;
}
.submit {
  background: var(--important-color);
  color: #fff;
  padding: 0.6rem 1.3rem;
  /* border: 1px solid #bc473d; */
}

.submit:hover {
  background: var(--bg-color);
  color: #fff;
}

footer {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.2rem;
  color: var(--text-color-light);
  background-color: var(--bg-color);
  height: 200px;
}

@media screen and (min-width: 768px) {
  .form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-gap: 1rem; */
    grid-gap: 10rem;
    margin-bottom: 2rem;
  }

  fieldset input,
  select {
    height: 4rem;
  }
  .form-btn {
    display: flex;
    justify-content: end;
    margin-top: 2rem;
    align-items: center;
  }
  .btn {
    width: auto;
  }
}
